{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Главная страница
{% endblock %}

{% block content %}

<div class="about">
    <div class="about_txt">
<p>Добро пожаловать в <span>Диафрагма!</span>

 Наша команда готова предоставить профессиональную консультацию по выбору фотоаппаратуры, ответить на все вопросы и обеспечить оперативную поддержку после покупки.

Благодаря нашему стремлению к совершенству и постоянному развитию мы продолжаем успешно расти и расширяться, делая ваше обслуживание удобным, надежным и приятным.

Присоединяйтесь к нашему сообществу клиентов и доверьтесь профессионалам в мире печатной техники. Мы рады помочь вам воплотить в жизнь ваши проекты и идеи!

</p>
        </div>
    <div class="elips">
        <img src="{% static 'main/img/stage.png' %}" width="250px" height="244px">
        <img src="{% static 'main/img/client.png' %}" width="250px" height="244px">
        <img src="{% static 'main/img/postav.png' %}" width="250px" height="244px">
    </div>
</div>
<style>
    body{
  background-size: cover;
  background-image: url('{% static 'main/img/background_index.png' %}');

    }

  </style>
{% endblock %}
