{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Где нас найти
{% endblock %}

{% block content %}
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2327.2377804086555!2d48.39736647634523!3d54.3174276016242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415d376ea1f6b6b5%3A0xa1f805467111dc63!2z0JLQtdGA0YHQsNC70Yw!5e0!3m2!1sru!2sru!4v1714559935290!5m2!1sru!2sru" width="700" height="450" style="border:15px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="contact">
<p>Наш адрес:<b> ул. Дворцовая 4а/1,Ульяновск</b></p>
<p>Телефон:<b> + 7 (800) 555-35-35</b></p>
<p>Почта:<b> Diofragma@yandex.ru</b></p>
</div>
{% endblock %}