{% extends 'main/base.html' %}

{% block title %}
    Страница каталога
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Каталог</h1>
        <div class="row">
            <div class="col-md-6">
                <h3>Сортировать товары по категориям</h3>
                <ul class="list-group product_cat">
                    <li class="list-group-item"><a href="{% url 'catalog' %}">Показать все товары</a></li>
                    {% for cat in categories %}
                        <li class="list-group-item"><a href="{% url 'category' cat_id=cat.pk %}">{{ cat.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Сортировать товары по</h3>
                <ul class="list-group sort_by">
                    <li class="list-group-item"><a href="?sort_by=newest">По новизне</a></li>
                    <li class="list-group-item"><a href="?sort_by=oldest">По старизне</a></li>
                    <li class="list-group-item"><a href="?sort_by=name">По наименованию А-Я</a></li>
                    <li class="list-group-item"><a href="?sort_by=name-">По наименованию Я-А</a></li>
                    <li class="list-group-item"><a href="?sort_by=price+">Сначала дешевые</a></li>
                    <li class="list-group-item"><a href="?sort_by=price-">Сначала дорогие</a></li>
                </ul>
            </div>
        </div>

        {% if categories %}
            <h3>Вывод всех товаров</h3>
        {% else %}
            <h3>Вы выбрали категорию: {{ category.name }}</h3>
        {% endif %}

        <ul class="list-group">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
{% for product in products %}
                <div class="col">
                    <div class="card">
                        <img src="{{ product.photo.url }}" class="card-img-top" alt="{{ product.name }}" style="height:300px;
                        width: 70%; margin-left: auto; margin-right: auto; display: block;">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">Цена: {{ product.price }} руб.</p>
                            <p class="card-text">Доступное количество: {{ product.quantity }}</p>
                            {% if product.quantity == 0 %}
                                <p>Товара нет в наличии</p>
                            {% else %}
                                <a href="{{ product.get_absolute_url }}" class="btn btn-primary" style="margin-left: auto; margin-right: auto; display: block;">Подробнее</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </ul>
    </div>
{% endblock %}
