{% extends 'main/base.html' %}

{% block title %}
    Корзина
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Корзина</h1>
        {% if cart_items %}
            <div class="row">
                {% for cart_item in cart_items %}
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ cart_item.item.name }}</h5>
                                <p class="card-text">Количество: {{ cart_item.quantity }} шт.</p>
                                <p class="card-text">Цена за штуку: {{ cart_item.item.price|floatformat:"2" }} ₽</p>
                                <form method="post" action="{% url 'remove_from_cart' cart_item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Общая стоимость всех товаров в корзине -->
            <p>Общая стоимость: {{ total_cost }}₽</p>
            <form method="post" action="{% url 'order' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Оформить заказ</button>
            </form>
        {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
    </div>
{% endblock %}
