{% extends 'main/base.html' %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <img src="{{ product.photo.url }}" class="card-img-top" alt="{{ product.name }}" style="margin-left: auto; margin-right: auto; width: 51%; height: 51%;">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">{{ product.name }}</h1>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Цена: {{ product.price }} руб.</p>
                        <p class="card-text">Категория: {{ product.category.name }}</p>
                        <p class="card-text">Дата производства: {{ product.production_year }}</p>
                        <p class="card-text">Доступное количество: {{ product.quantity }}</p>
                        {% if product.quantity == 0 %}
                            <p>Товара нет в наличии</p>
                            {% else %}
                            <form method="post" action="{% url 'add_to_cart' product_id=product.id %}">
                            {% csrf_token %}
                             {% if user.is_authenticated %}
                                <button type="submit" class="btn btn-primary">Добавить в корзину</button>
                                {% else %}
                                <b>Зарегистрируйтесь или выполните вход чтобы добавить товар в корзину</b>
                                {% endif %}
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
